

body
{
  margin: 0;
  padding: 0;
  
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

header {

    <!--
    == Open menu button == 
    - Hidden on medium–large devices
    - Covered when menu is open on small devices
    - When clicked, focuses on #main-menu <nav>
    -->
    <a href="#main-menu"
       id="main-menu-toggle"
       class="menu-toggle"
       aria-label="Open main menu">
      <span class="sr-only">Open main menu</span>
      <span class="fa fa-bars" aria-hidden="true"></span>
    </a>
    
    <h1 class="logo">hamburgers</h1>
    
    <nav id="main-menu" class="main-menu" aria-label="Main menu">
      <!--
      == Close menu button == 
      - Hidden on medium–large devices
      - Not shown when menu is closed on small devices
      - When clicked, focuses on #main-menu <nav>
      - First link in <nav> so DOM order makes sense in toggling open/closed
      -->
      <a href="#main-menu-toggle"
         id="main-menu-close"
         class="menu-close"
         aria-label="Close main menu">
        <span class="sr-only">Close main menu</span>
        <span class="fa fa-close" aria-hidden="true"></span>
      </a>
      <!--
      == Main menu heading ==
      - Added June 23, 2020
      - Adds heading for unordered list of links for better accessibility, using aria-labelledby
      --> 
      <h2 id="main-menu-heading" class="sr-only">Main menu</h2>
      <ul aria-labelledby="main-menu-heading">
        <li><a href="#">Products</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <!--
    == Backdrop ==
    - Hidden when menu is closed AND on medium–large devices
    - Provides "click area" for clicking off the menu to hide
    - Tabindex is -1 so that it can be clicked, but not focused on (for accessibility purposes)
    -->
    <a href="#main-menu-toggle"
       class="backdrop"
       tabindex="-1"
       aria-hidden="true" hidden></a>
}

body {
    background-color: #8FB8DE;  /* I chose the blue to be the background as it is the most neutral colour out of the colours in the palette, as it is not too light and not too dark */
    }
    input {
    border: 2px solid #ddd;
    color: #fff;
    background-color: #555;
    }
    input::placeholder {
    color: #ccc;
    }
     
    h1 {
        color: rgb(250, 241, 241);
        }

    p {
        color: rgb(250, 241, 241); /* The white complemets the blue background*/
        }

        div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

form {
    display: grid;
    width: 300px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 0.5em;
    }
    .submit {
    grid-column: 2;
    }


img {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
     border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
    }

    .shownav:before {
        content: '';
         position: fixed;
         width: 50%;
         height: 100vh;
         top: 0em;
         left: 50%;
         border-top: 0.2em solid #fff;
        }

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Background Landing Video Page */


* {
    margin: 0%;
    
    }
    h1 {
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        font-size: 3.5rem;
        line-height: 2em;  
    }
    
    h2 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5em;
    }

    p { 
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 1.5em;
    padding-top: 2em;
    margin: 40px;
    line-height: 1.6em;
     
    }
    
    .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #333;
    background: rgba(0, 0, 0, 0.25);*/

    .CV {
        /* display: flex; */   
        justify-content: left;
        align-items: left;
        #left{
            float:left;
            width: 50%;
        }
       
    
    background-image: linear-gradient(
            90deg,
            rgba(168, 24, 24, 0.614),
            rgba(0, 0, 255, 0.733)
            );
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    }
    
    .video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    }
    
    .intro {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    }
    .row {
    display: flex;
    }
    .col {
        padding: 0 15px;
        flex: content;
    }

    /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Better box-model */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
  Screen reader only
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*
  ===================================================
  Base styles for all devices sizes, but mobile first
  ===================================================
*/

/*
  Hamburger menu icon/'button' styling
*/
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
  Offscreen menu styling
  - Default styles + mobile first
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px; /* push off the screen to the left for future animation */
  top: 0;
  height: 100%;
	overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

/*
  Generic style for ALL hamburger menu links
*/
.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu a.menu-close {
  border-bottom: 0; /* no border for the X 'button' */
}

.main-menu li:first-child a {
  border-top: 1px solid #383838; /* add top border only for the first link */
}

/*
  Hover & focus style
*/
.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

/*
  Close button positioning
  - Other styles come from `.main-menu a`
*/
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
  =======================================
  On small devices, allow it to toggle...
  =======================================
*/

/*
  Opening hamburger menu!
  - Using `:target` for non-JavaScript
  - `[aria-expanded]` will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0; /* slide from -200px to the left edge at 0 */
  outline: none;
  /* fix box-shadow so it shows now */
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

/*
  Close menu button
  - Make sure it's on top!
  - Basically, when `.main-menu` is the target of the click, get its child `.menu-close` link
*/
.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

/*
  Hamburger menu list
  - Make sure it's on top!
  - Basically, when `.main-menu` is the target of the click, get its child `<ul>`
*/
.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
  Backdrop
  - Show backdrop
  - Basically, when `.main-menu` is the target of the click, get its sibling `.backdrop`
  - Note: we could use `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

/*
  ======================================================
  If CSS supports `fixed`, like all good modern browsers
  ======================================================
*/
@supports (position: fixed) {
  /*
    Allow backdrop to stay fixed and not "scroll"
  */
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
  ================================
  Larger screen styling
  ================================
*/

/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 768px) {
  /* Hide hamburger menu/'button' */
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex; /* allows for full height of menu */
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: #06c;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
  }
}

/*
 Demo purposes only
*/
header {
  padding: 20px;
  display: flex;
  align-items: baseline;
}

article {
  padding: 30px;
  max-width: 55em;
  font-size: 16px;
  line-height: 1.5em;
}

article h2 {
  font-weight: 500;
  font-size: 28px;
}

.logo {
  margin: 0 30px 0 10px;
  font-size: 1.5em;
}