/* Delete this when ur done */

/* sets the navigation class's width 10 100% so if the page moves it is dynamic, sets the hieght as 30px,
aligns the text to the right, sets the font style as Mclaren a google api font, sets the font size and adds
padding to the top and bottom to give some white space */
.navigation {
    width: 100%;
    height: 30px;
    text-align: right;
    font-family: 'McLaren',cursive;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* sets the unorder list margin to 0 auto, sets the padding to 0 and sets the list style to none */
.navigation ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  
/* sets the list object and the list and the navigation class to display inline block, adds padding left
and right to add some white space and sets the font weight to bold. the border right creats a 4px solid
border each right side of the li objects this creates a divide between each page link */
.navigation ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bolder;
    border-right: 1px solid #aaa ;
  }

/* removes the border from the right side of the last list item  */
 .navigation li:last-child {
     border-right: none;
 } 
  
/* sets the background colour when the li items are hovered over */
.navigation ul li:hover {
    background-color: rgba(254, 214, 227, 0.4);
  }
  
/* sets the links within the list to the colour black and sets the text decoration to none to stop 
the automatic styling of the tag */
.navigation ul li a {
    color: #111;
    text-decoration: none;
  }

/* when the navigation links are hovered over a solid black border will be applied
at the bottom  */
.navigation a:hover {
    border-bottom: 4px solid black;
}

/* when the navigation links are clicked (active) a solid black border will be applied
at the bottom  */
.navigation a:active {
    border-bottom: 4px solid black;
}